
.show {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.title-main {
    display:flex;
    margin-top: 100px;
    width: 200px;
}
.description-main {
    display:flex;
    justify-content: center;
    width: 200px;
    height: 100px;
}
button{
    width: 50px;
}

.pre {
    display:flex;
    justify-content: center;
}

