.main{
    display:flex;
    justify-content: center;
    border:5px solid black;
    padding: 10px 10px 10px 10px;
    height:300px;
    width:500px;
}

.head1{
    display:flex;
    justify-content:center;
    height:50px;
    width:100px;
    border:black;
    border:5px solid black;
}

.body{
    display:flex;
    flex-direction:column;
    padding-top:10px ;
}

.content{
    border: 5px solid black;
    padding-top: 10px;
}